


/*======== Page Reset ========= */

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s linear ;
}

/*======== Variable & Style guide ========= */


:root{
    --color-bg: hsl(0, 0%, 100);
    --color-container:hsl(0, 0%, 95%);
    --color-surface: hsl(226, 71%, 52%);
    --color-text: hsl(0, 2%, 12%);
    --clr-brd:hsl(226, 71%, 52%);
    --clr-shd: hsl(226, 71%, 16%);
    --color-txt-btn: hsl(0, 0%, 90%);
    /* --color-accent-btn:  */
}



/*======== Global style ========= */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container{
    width: calc(1rem * 24);
    height: calc(1rem * 18);
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2,h3{
    color: var(--color-text);
}

h2{
    font-size: clamp(2rem, 1VW, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 1VW, 2rem);
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

section .top-main{
    margin: 8px 0px;
    height: 16px;
}



/*========toggle theme ======*/

.toggle{
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 8px;
    
}

.toggle .btn-theme{
    position: relative;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    width: 64px;
    height: 64px;
    overflow: hidden;
    
} 


/*========Button style ======*/


/* ======Text change using JS for interaction ========= */

/* 
    /LOGIC
    *- create button Ui
    *- style icon and give it property a value of 
        pointer-event: none
    *- animate the icon to spin
*/
.btn-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}


.toggle-icon{
    position: relative;
    border-radius: 90px;
    background-color: #232323;
    width: 64px;
    height: 24px;

}
.icon{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #a39b9b;
    background-color: #464545;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    left: -1px;
    transition: all 150ms ease;
}

.toggle-icon:active{
    background-color: var(--color-surface);
}

.toggle-icon:active .icon{
   left: 50%;
   background: var(--color-surface);
}

/* ====== animate  ========= */



/* ======= Responsiveness =========  */

@media  screen and (max-width: 680px){
    body{
        padding: 48px 0px;
        width: 100%;
    }
    
    body section {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
        display: block;
        text-align: center;
    }
    body section .container {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
    }


}

