


/*======== Page Reset ========= */

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s linear ;
}

/*======== Variable & Style guide ========= */


:root{
    --color-bg: hsl(0, 0%, 100);
    --color-container:hsl(0, 0%, 95%);
    --color-surface: hsl(226, 71%, 52%);
    --color-text: hsl(0, 2%, 12%);
    --clr-brd:hsl(226, 71%, 52%);
    --clr-shd: hsl(226, 71%, 16%);
    --color-txt-btn: hsl(0, 0%, 90%);
    /* --color-accent-btn:  */
}



/*======== Global style ========= */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container{
    width: calc(1rem * 24);
    height: calc(1rem * 18);
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2,h3{
    color: var(--color-text);
}

h2{
    font-size: clamp(2rem, 1VW, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 1VW, 2rem);
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

section .top-main{
    margin: 8px 0px;
    height: 16px;
}



/*========toggle theme ======*/

.toggle{
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 8px;
    
}

.toggle .btn-theme{
    position: relative;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    width: 64px;
    height: 64px;
    overflow: hidden;
    
} 


/*========Button style ======*/


/* ======Text change using JS for interaction ========= */

/* 
    /LOGIC
    *- create button Ui
    *- style icon and give it property a value of 
        pointer-event: none
    *- animate the icon to spin
*/
.btn-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

 .btn {
    border-radius: 16px;
    padding: calc(8px * 3)px;
    width: calc(8px * 24);
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-surface);
    cursor: pointer;
    transition: 0.5s;
}

.btn-bell:hover {
    padding: calc(8px * 2)px;
    width: calc(8px * 8);
    

}

.btn-bell:hover .icon-shaky {
    animation: shake 1s ease-in-out infinite alternate;

}

.btn-jittery:hover {
    padding: calc(8px * 2)px;
    width: calc(8px * 8);

    

}

.btn-jittery:hover .icon-shaky {
    animation-play-state: paused;
}

/* ====== animate  ========= */
@keyframes shake {
    0%{
        transform: rotate(0deg) scale(0.2);
    }
    75% {
      transform: rotate(-10deg) scale(1.2);
    }
    100% {
        transform: rotate(10deg) scale(1.5);
     }
}



/* ======= Responsiveness =========  */

@media  screen and (max-width: 680px){
    body{
        padding: 48px 0px;
        width: 100%;
    }
    
    body section {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
        display: block;
        text-align: center;
    }
    body section .container {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
    }


}

