


/*======== Page Reset ========= */

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s linear ;
}

/*======== Variable & Style guide ========= */


:root{
    --color-bg: hsl(0, 0%, 100);
    --color-container:hsl(0, 0%, 95%);
    --color-surface: hsl(226, 71%, 52%);
    --color-text: hsl(0, 2%, 12%);
    --clr-brd:hsl(226, 71%, 52%);
    --clr-shd: hsl(226, 71%, 16%);
    --color-txt-btn: hsl(0, 0%, 90%);
    /* --color-accent-btn:  */
}



/*======== Global style ========= */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container{
    width: calc(1rem * 24);
    height: calc(1rem * 18);
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2,h3{
    color: var(--color-text);
}

h2{
    font-size: clamp(2rem, 1VW, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 1VW, 2rem);
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

section .top-main{
    margin: 8px 0px;
    height: 16px;
}



/*========toggle theme ======*/

.toggle{
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 8px;
    
}

.toggle .btn-theme{
    position: relative;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    width: 64px;
    height: 64px;
    overflow: hidden;
    
} 


/*========Button style ======*/


/* ======Text change using JS for interaction ========= */

/* 
    /LOGIC
    *- create button Ui
    *- style icon and give it property a value of 
        pointer-event: none
    *- animate the icon to spin
*/
.btn-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

 .btn {
     border-radius: 16px;
     border-style: none;
     color: var(--color-surface);
     padding: calc(8px * 3);
     width: calc(8px * 24);
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent ;
     cursor: pointer;
     position: relative;
    overflow: hidden;
 }
 .btn .btn-text{
    padding-block: 12px;
    padding-inline: 24px;
    width: 100%;
    height: 42px;
    border-radius: 16px;
    background:  transparent;
    border: 1px rgb(255, 255, 255, 0.1) solid;
    z-index: 1;
    transition-duration: 0.2s;
    overflow: hidden;
 }

 .btn-text::before{
    content: " ";
    position: absolute;
    width: 32px;
    height: 16px;
    inset: 85% 43%;
    background-color: var(--color-surface);
    filter: blur(4px);
    transition: all 0.3s ease-in;
 }

.btn:hover .btn-text::before{
    position:absolute;
    width: 60%;
    height: 70px;
    inset: 45% 20%;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.4;
   
}
/* ====== animate  ========= */
/* @keyframes  {

} */



/* ======= Responsiveness =========  */

@media  screen and (max-width: 680px){
    body{
        padding: 48px 0px;
        width: 100%;
    }
    
    body section {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
        display: block;
        text-align: center;
    }
    body section .container {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
    }


}

