


/*======== Page Reset ========= */

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s linear ;
}

/*======== Variable & Style guide ========= */


:root{
    --color-bg: hsl(0, 0%, 100);
    --color-container:hsl(0, 0%, 95%);
    --color-surface: hsl(226, 71%, 52%);
    --color-text: hsl(0, 2%, 12%);
    --clr-brd:hsl(226, 71%, 52%);
    --clr-shd: hsl(226, 71%, 16%);
    --color-txt-btn: hsl(0, 0%, 90%);
    /* --color-accent-btn:  */
}



/*======== Global style ========= */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container{
    width: calc(1rem * 24);
    height: calc(1rem * 18);
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2,h3{
    color: var(--color-text);
}

h2{
    font-size: clamp(2rem, 1VW, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 1VW, 2rem);
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

section .top-main{
    margin: 8px 0px;
    height: 16px;
}



/*========toggle theme ======*/

.toggle{
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-bottom: 8px;
    
}

.toggle .btn-theme{
    position: relative;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    width: 64px;
    height: 64px;
    overflow: hidden;
    
} 


/*========Button style ======*/

.btn-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.container-button .btn{
    border: none;
    border-radius: 16px;
    padding-block: 0px;
    width: calc(8px * 24);
    height: 42px;
    background: var(--color-surface);
    color: var(--color-txt-btn);
    font-size: large;
    cursor: pointer;
    transform: translateY(-6px);
    transition: translateY .2s ease-in ;  
}
.btn{
    position: relative;
    transform: translateY(0px);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
  
}

.btn-shape{
    position: relative;
    border: 1px solid var(--clr-brd);
    transform: translateY(0px);
    cursor: pointer;
    overflow: hidden;
    animation: rotate 0.5s ease-in forwards;
}

 .btn-shape .check{
    display: block;
    z-index: 1;
   
}

.btn:active {
    transform: translateY(0px);
    border: 1px var(--clr-brd);
    box-shadow: 0px 1px 4px var(--clr-shd);
    cursor: pointer;
}


/* ====== Shape change using JS for interaction ========= */

/* 
    /LOGIC
    *- create button Ui
    *- style span tag with light or transparent gray
    *- create a class ripple and animate it
*/




/* ====== animate  ========= */

@keyframes rotate {
    80%{
        opacity: 0.6;
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    100%{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 4px solid var(--color-surface);
        background-color: transparent;
    }
}

/* ======= Responsiveness =========  */

@media  screen and (max-width: 680px){
    body{
        padding: 48px 0px;
        width: 100%;
    }
    
    body section {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
        display: block;
        text-align: center;
    }
    body section .container {
        padding: 24px;
        margin: 32px 0px;
        width: 100%;
    }


}
/* ====== Shape change with state Effect ========= */

/* 
    /LOGIC
    *- create button Ui
    *- use CDN icons here
    *- style the Ui
    *- use color: transparent to hide text and icon
    *- create a focus state interaction
*/

.btn2{
    position: relative;
    padding: 16px 44px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--color-txt-btn);
    background-color: var(--color-surface);
    border: 2px solid var(--clr-brd);
    cursor: pointer;
    transition: 300ms;
}

.btn2 .check{
    position: absolute;
    color: transparent; /* makes icon transparent here*/
    transition: 200ms;
}

.btn2:focus{
  border-radius: 50%;
  color: transparent;
  background-color: transparent;
  width: 42px;
  height: 42px;
  padding: 25px 25px;
  border-left: 2px solid transparent;
  animation: spin 2s 500ms forwards;
}

.btn2:focus .check{
    animation: check 300ms 2300ms forwards;
}
@keyframes check {
    to {
        color: #2e49c0; /* gives icon visiblity and color*/
    }   
}

@keyframes spin {
    80%{
        border: 2px solid transparent;
        border-left: 2px solid #2e49c0;
        
    }
    100%{
        transform: rotate(720deg);
        border: 2px solid #2e49c0;
    }
    
}